In [3]:
from src.data_retrieval import fetch_data

In [4]:
# Load data
df_full = df = fetch_data()
target = 'median_house_value'  # the name of the target variable
df.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

In [10]:
capped_value_housing_median_age = df['housing_median_age'].max()
capped_value_target = df[target].max()

In [16]:
mask = (df['housing_median_age'] == capped_value_housing_median_age) & (df[target] == capped_value_target)
mask

0        False
1        False
2        False
3        False
4        False
         ...
20635    False
20636    False
20637    False
20638    False
20639    False
Length: 20640, dtype: bool

In [18]:
df[mask]

       longitude  latitude  ...  median_house_value  ocean_proximity
89       -122.27     37.80  ...            500001.0         NEAR BAY
196      -122.14     37.44  ...            500001.0         NEAR BAY
306      -118.36     34.10  ...            500001.0        <1H OCEAN
443      -122.42     37.80  ...            500001.0         NEAR BAY
447      -122.23     37.82  ...            500001.0         NEAR BAY
...          ...       ...  ...                 ...              ...
19935    -122.46     37.79  ...            500001.0         NEAR BAY
20235    -118.35     34.07  ...            500001.0        <1H OCEAN
20250    -122.24     37.86  ...            500001.0         NEAR BAY
20494    -118.12     34.13  ...            500001.0        <1H OCEAN
20535    -122.43     37.80  ...            500001.0         NEAR BAY

[170 rows x 10 columns]

In [19]:
(df['housing_median_age'] == capped_value_housing_median_age).sum()

1273

In [20]:
(df[target] == capped_value_target).sum()

965